<mat-toolbar class="app-header">
  <div class="header-left">
    <div class="logo-container">
      <mat-icon class="app-logo">business</mat-icon>
      <span class="app-title">Sổ Thu Chi</span>
    </div>
    
    <span class="user-welcome">
      Xin chào <span class="user-name">{{ userName() }}</span>
    </span>
  </div>

  <span class="spacer"></span>

  <div class="header-right">
    <button mat-icon-button class="notification-btn">
      <mat-icon matBadge="3" matBadgeColor="warn" aria-hidden="false">notifications_none</mat-icon>
    </button>
    
    <div class="avatar-container">
      <mat-icon class="user-avatar">account_circle</mat-icon>
    </div>
  </div>
</mat-toolbar>