<mat-card class="card-expense">
  <mat-card-header>
    <mat-card-title>Chi tiền</mat-card-title>
    <div class="actions">
      <mat-icon>refresh</mat-icon>
      <mat-icon>fullscreen</mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="chart-wrapper">
      <div class="pie-placeholder" style="width: 150px; height: 150px; border: 15px solid #ffcc29; border-radius: 50%;">
      </div>
    </div>

    <div class="chart-legend">
      <div class="legend-info">
        <span class="dot"></span>
        <span class="label">Must have</span>
      </div>
      <span class="percentage">100%</span>
    </div>
  </mat-card-content>
</mat-card>