<mat-toolbar class="app-header">
  <div class="header-left">
    <div class="logo-container">
      <img src="assets/logo-misa.png" alt="Logo" class="app-logo">
      <span class="app-title">Sổ Thu Chi</span>
    </div>
    
    <span class="user-welcome">
      Xin chào <span class="user-name">Trần Huy</span>
    </span>
  </div>

  <span class="spacer"></span>

  <div class="header-right">
    <button mat-icon-button class="notification-btn">
      <mat-icon matBadge="3" matBadgeColor="warn">notifications_none</mat-icon>
    </button>
    
    <div class="avatar-container">
      <img src="assets/avatar.png" alt="User Avatar" class="user-avatar">
    </div>
  </div>
</mat-toolbar>